@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 100vh;
  background-image: linear-gradient(to right top, #755c9d, #8966ab, #9d70b9, #b27bc6, #c885d3);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  background-color: rgba(202, 112, 212, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  height: 60rem;
  width: 100rem;
}

.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem;
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #4A304E;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 500;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #4A304E;
  border-radius: 9px;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  padding: 2rem;
  transition: all 0.75s;
  width: 65%;
}

.current-label {
  color: #ddd;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.current-score {
  font-size: 3.5rem;
}

.btn {
  color: #444;
  background: none;
  border: none;
  font-size: 1.8rem;
  font-family: inherit;
  text-transform: uppercase;
  text-overflow: 400;
  position: absolute;
  left: 50%;
  transition: all 0.2s;
  transform: translateX(-50%);

  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  border-radius: 50rem;
  padding: 0.7rem 2.5rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 45.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #4A304E ;
}

.hidden {
  display: none;
}